.liaoliao{
  width: 100%;
}
body{
  background: #415068;
  height: 100%;
}

.header{
  height: 50px;
  background: #415f9d;
}
h2{
  text-align: center;
  float: left;
  width: 120px;
  line-height: 50px;
  color: #fff;
  font-size: 20px;
  position: relative;
}

.users{
  position: absolute;
  top: 100%;
  left: 0;
  max-width: 200px;
  background: #141829;
  opacity: 0.9;
  padding: 0 10px;
}
.user-item{
  border-top: #ddd solid 3px;
}
.users .avatar{
  margin-top: 10px;
  margin-bottom: 0;
}
.users .un{
  margin-top: 0px;
  line-height: 24px;
  word-wrap: break-word;
}

.user-avatar{
  margin-top: 5px;
  margin-right: 20px;
}

.user{
  float: right;
}
.user>*{
  display: inline-block;
  vertical-align: top;
}
.welcome{
  font-size: 16px;
  line-height: 50px;
  color: #ddd;
  margin-right: 10px;
  overflow: hidden;
  max-width: 150px;
  height: 50px;
}
.avatar{
  width: 40px;
  height: 40px;
  border-radius: 40px;
}

.send-words{
  height: 50px;
  background: #c0d9e5;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

#words{
  width: 60%;
  height: 50%;
  margin: 10px;
  background: #fff;
}

#words:focus{
  border: 1px solid #415f9d;
}

.logout,
.submit{
  padding: 5px 10px;
  color: #fff;
  background: #21294c
}
.submit{
}
.logout{
  background: #afa;
  margin-left: 10px;
}

.wordlist{
  width: 100%;
  overflow: auto;
  margin-bottom: 50px;
  height: 400px;
}
.item{
  margin: 20px;
}

.item>*{
  vertical-align: top;
}

.un-words{
  display: inline-block;
  margin-left: 10px;
  max-width: 75%;
}

.un{
  color: #eee;
  font-size: 14px;
}

.words{
  margin-top: 10px;
  background: #fff;
  border-radius: 5px;
  font-size: 16px;
  padding: 10px;
  word-wrap:break-word;
}
